@font-face {
    font-family: 'IRANSansMobile(FaNum)';
    src: url('IRANSansMobileFaNum-Medium.eot');
    src: url('IRANSansMobileFaNum-Medium.eot?#iefix') format('embedded-opentype'),
        url('IRANSansMobileFaNum-Medium.woff2') format('woff2'),
        url('IRANSansMobileFaNum-Medium.woff') format('woff'),
        url('IRANSansMobileFaNum-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb-Bold.eot');
    src: url('IRANYekanWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanWeb-Bold.woff2') format('woff2'),
        url('IRANYekanWeb-Bold.woff') format('woff'),
        url('IRANYekanWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANYekanWeb';
    src: url('IRANYekanWeb.eot');
    src: url('IRANYekanWeb.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanWeb.woff2') format('woff2'),
        url('IRANYekanWeb.woff') format('woff'),
        url('IRANYekanWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansMobile(FaNum)';
    src: url('IRANSansMobileFaNum.eot');
    src: url('IRANSansMobileFaNum.eot?#iefix') format('embedded-opentype'),
        url('IRANSansMobileFaNum.woff2') format('woff2'),
        url('IRANSansMobileFaNum.woff') format('woff'),
        url('IRANSansMobileFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

